.Contact {
  padding: 2rem;
  text-align: center;
}

.Contact h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.Contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contact label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-align: left;
  width: 100%;
}

.Contact input,
.Contact textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.25rem;
}

.Contact input:focus,
.Contact textarea:focus {
  outline: none;
  box-shadow: 0 0 2px #666;
}

.Contact button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Contact button:hover {
  background-color: #555;
}
