.navbarButtons{
    display: flex;
    width: fit-content;
    justify-content: safe;
    overflow:auto;
}
.navbarTabs{
    margin-left: 10px;
    width: fit-content;
    font-size: 18px;
}
.dashboardHeader{
    font-size: max(1vw, 18px) !important;
}